h1{
	color:red;
	border:10px solid green;
}

h2{
	color:blue;
}

.mammal{
	color:red;
	font-weight:bold;
}

.bird{
	color:blue;
	text-decoration:underline;
}

.fish{
	color:orange;
	font-style:italic;
}

#mouse{
	background-color:purple;
}